<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head> -->

<!-- <div class="header" style=" padding: 20px; color: white; background: turquoise;">
    <div class="row">
        <h3 style="padding: 10px;">Update 24x7</h3>
        <a class="btn btn-outline-primary" style="background: white" [routerLink]="['/register']">Register</a>
    </div>
</div>

<hr /> -->

<div *ngIf="userPassErr !== ''" class="alert alert-danger">
    <div>{{ userPassErr }}</div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Login</h3>
        <form (submit)="handleSubmit()">
            <!-- (submit)="handleSubmit()"> -->
            <div class="form-group">
                <!-- <input type="text" name="username" class="form-control" placeholder="Enter Username" [(ngModel)]="username"> -->
                <input type="text" name="name" class="form-control" placeholder="Email" [(ngModel)]="email">
            </div>

            <div class="form-group">
                <!-- <input type="password" name="password" class="form-control" placeholder="Enter Password" [(ngModel)]="password"> -->
                <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password">
            </div>

            <div>
                <button class="btn btn-primary">Login</button>
                <button type="button" class="btn btn-warning ml-2" (click)="formReset()">Reset</button>
            </div>
        </form>
    </div>
</div>

<br/>

<!-- <div *ngIf="loginErr !== ''" class="alert alert-danger">
    <div>{{ loginErr }}</div>
</div> -->